body {
  font-family: Segoe UI;
}

@media (min-width: 992px) {
	.container {
	    width: 760px;
	    text-align: center;
	    margin-right: auto;
	    margin-left: auto;
	}
}

.navbar { 
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
    font-family: Arial;
    font-size: 17px;
}

.big-title {
	font-size: 5em;
	display: block;
	color: #325c80;
	text-align: center;
	margin-top: 0.8em;
}

.help-box {
	display: block;
	color: #797070;
	font-size: 1.3em;
	text-align: center;
}

.output-box-title {
	font-size: 1.2em;
	text-align: left;
}

.output-container {
	margin-top: 40px;
	margin-bottom: 40px;
}

.small-help {
	font-size: 0.9em;
}

.overflow-with-scroll {
	overflow: auto; 
	max-height: 600px;
}

.code {
	background-color: lightblue;
	text-align: left;
	padding: 2.7em;
	font-size: 1.2em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}